@import url("https://fonts.google.com/specimen/Dancing+Script?preview.text=MoodSoup&preview.text_type=custom#standard-styles");

.Project {
  width: 40%;
}

.Project-container {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.Project-image {
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

